body {
  background: #0f172a;
  color: white;
  font-family: Arial;
  text-align: center;
}

button {
  padding: 12px 24px;
  font-size: 18px;
  cursor: pointer;
}
button:hover {
  background-color: #2563eb;
  color: white;
}